body{
    display:flex;
    text-decoration: bisque;
    justify-content: center;
    align-items: center;
}

.maincontainer{
    background-color: rgb(45, 206, 221);
    border-radius:  20px;
    color: wh;
}
.h2container{
    background-color:bisque;
    color: white;
    text-align: center;
    font-size: 200%;
    border: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
}

#form{
    align-content: center;
    text-align: center;
    border: 3px;
    background-color: bisque;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

input{
    margin-top: 10px;
    border-radius: 7px;
    margin-right: 20px;
    ;
}

label{
    margin-top: 10px;
    margin-right: 20px;
}

#buttoncontainer{
    border-radius: 20px;
    margin-left: 25px;
    align-items:end;
    margin-top: 15px;
    margin-right: 25px;
}

.button{ 
    margin: 15%;
    align-items: end;
    text-align: center;
    background-color: bisque;
    width: 350px;
    height: 50px
}

button{
    border-radius: 7px;
    height: 10;
    margin-top: 12px;
    color: white;
    margin: 15px;
    background-color: blue;
}

#labelcurrent{
    margin-left: 20px;
}

#labelamount{
    margin-left: 19px;
}

#labelresult{
    margin-right: 60px;
}

#amount{
    margin-left:30px
}

#result{
    margin-right: 1px;
    margin-left: 10p;
}
